<template>
  <div>
    <h1>Vuelidation</h1>
    <p>learning about vuelidate in vuejs</p>
    {{ userState.fname }}
    <div class="form">
      <div>
        fname
        <input
          :class="{ error: userRulesVidation.firstName.$errors.length }"
          v-model="userState.firstName"
          name="fname"
        />
        <div
          class="input-errors"
          v-for="error of userRulesVidation.firstName.$errors"
          :key="error.$uid"
        >
          <div class="error-msg">{{ error.$message }}</div>
        </div>
      </div>
      <div>
        lastName
        <input
          :class="{ error: userRulesVidation.firstName.$errors.length }"
          v-model="userState.lastName"
        />
        <div
          class="input-errors"
          v-for="error of userRulesVidation.lastName.$errors"
          :key="error.$uid"
        >
          <div class="error-msg">{{ error.$message }}</div>
        </div>
      </div>
      <div>
        email
        <input
          :class="{ error: userRulesVidation.email.$errors.length }"
          v-model="userState.email"
        />
        <div
          class="input-errors"
          v-for="error of userRulesVidation.email.$errors"
          :key="error.$uid"
        >
          <div class="error-msg">{{ error.$message }}</div>
        </div>
      </div>

      <button @click="submit">Submit</button>
    </div>
  </div>
</template>

<script>
import { userState, userRulesVidation } from './helpers/vulidate';
export default {
  setup() {
    const submit = () => {
      userRulesVidation.value.$validate();
      if (!userRulesVidation.value.$error) {
        console.log('validate', userState);
        console.log('validate', userState.email);
      } else {
        console.log('no validate');
      }
    };
    return { userState, userRulesVidation, submit };
  },
};
</script>

<style scoped>
.error {
  border: 1px solid red;
}
</style>
