<script setup>
import From from './components/form.vue';
</script>

<template>
  <From />
</template>

<style>
body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
</style>
